services:
  redis:
    image: redis
    ports:
      - 6379:6379
    logging:
      options:
        max-size: "20m"
        max-file: "5"

  evaluator:
    build:
      context: evaluator
      dockerfile: Dockerfile
    depends_on:
      redis:
        condition: service_started
      downloader:
        condition: service_completed_successfully
    environment:
      AICROWD_TESTS_FOLDER: /tmp/debug-environments/
      redis_ip: redis
      AICROWD_DEBUG_SUBMISSION: 1
    volumes:
      - environments-evaluator-vol:/tmp/debug-environments/
      - ./outputs/analysis_data_dir:/tmp/analysis_data_dir/
      - ./outputs/results:/tmp/results/
      - ./outputs/actions:/tmp/actions/
      - ./outputs/episodes:/tmp/episodes/
      - ./outputs/visualizations:/tmp/visualizations

  submission:
    build:
      context: ../../..
      dockerfile: flatland_baselines/deadlock_avoidance_heuristic/online-demo/submission/Dockerfile
    depends_on:
      redis:
        condition: service_started
      downloader:
        condition: service_completed_successfully
    environment:
      AICROWD_TESTS_FOLDER: /tmp/debug-environments/
      redis_ip: redis
    volumes:
      - environments-submission-vol:/tmp/debug-environments/

  downloader:
    image: alpine
    entrypoint: [ "/bin/sh","-c" ]
    command:
      - |
        set -x
        set -e
        
        # comment out if using data from local volume
        mkdir -p /tmp/orig
        wget "https://github.com/flatland-association/flatland-scenarios/raw/refs/heads/main/scenarios/environments_v2.zip" -O environments.zip
        unzip -o environments.zip -d /tmp/orig
        
        rm -fR /tmp/debug-environments/*
        rm -fR /tmp/debug-environments-submission/*
        mkdir -p /tmp/debug-environments/
        mkdir -p /tmp/debug-environments-submission/
        #        cp -R /tmp/orig/* /tmp/debug-environments/
        #        cp -R /tmp/orig/* /tmp/debug-environments-submission/
        mkdir -p /tmp/debug-environments/Test_00/
        mkdir -p /tmp/debug-environments-submission/Test_00/
        cp /tmp/orig/Test_00/Level_0.pkl /tmp/debug-environments/Test_00/
        cp /tmp/orig/Test_00/Level_0.pkl /tmp/debug-environments-submission/Test_00/
        cp /tmp/orig/metadata.csv /tmp/debug-environments/metadata.csv
        cp /tmp/orig/metadata.csv /tmp/debug-environments-submission/metadata.csv
        find /tmp/debug-environments/
        find /tmp/debug-environments-submission/
        # evaluation client does gets command from evaluator via redis, does not need metadata.csv
        rm /tmp/debug-environments-submission/metadata.csv
    volumes:
      #      - ....:/tmp/orig
      - environments-evaluator-vol:/tmp/debug-environments
      - environments-submission-vol:/tmp/debug-environments-submission
  shutdown-redis:
    image: redis
    entrypoint: [ "/bin/sh","-c" ]
    command:
      - |
        redis-cli -h redis -p 6379 shutdown now
    depends_on:
      evaluator:
        condition: service_completed_successfully
      submission:
        condition: service_completed_successfully
volumes:
  environments-from-host-vol:
  environments-evaluator-vol:
  environments-submission-vol:
