name: Build FAB Flatland Baselines Docker Image and upload to ghcr.io

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image Tag'
        required: true
  # Scheduled workflows will only run on the default branch.
  schedule:
    - cron: '30 5 * * *'

jobs:
  build-flatland-submission-template:
    name: Build flatland-baselines Docker Images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Evaluate tag
        # precedence:
        # - input tag on workflow_dispatch
        # - head ref on pull_request
        # - "latest"
        run: |
          echo "TAG=${{ github.event.inputs.tag || github.head_ref || 'latest' }}" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Convert to github_repo_name to lowercase
        id: convert2lowercase
        run: INPUT=${{ github.repository }}; echo "REPO_TAG_LOWERCASE=${INPUT,,}">>${GITHUB_OUTPUT}
      - run: echo ${{steps.convert2lowercase.outputs.REPO_TAG_LOWERCASE}}
      - name: Inspect disk
        run: |
          df -h
          docker system df
      # https://stackoverflow.com/questions/30604846/docker-complains-about-no-space-left-on-device-how-to-clean-up
      - name: Prune docker system
        run: |
          docker system prune --all --force
      # https://www.dzombak.com/blog/2024/09/freeing-disk-space-on-github-actions-runners/
      - name: Free disk space
        run: |
          curl -fsSL https://raw.githubusercontent.com/kou/arrow/e49d8ae15583ceff03237571569099a6ad62be32/ci/scripts/util_free_space.sh | bash
      - name: Inspect disk again
        run: |
          df -h
          docker system df
      - name: Build and Push Generic Container Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: |
            ghcr.io/${{ steps.convert2lowercase.outputs.REPO_TAG_LOWERCASE }}:${{ env.TAG }}
      - name: Build and Push Random Policy Container Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: flatland_baselines/random/Dockerfile
          platforms: linux/amd64,linux/arm64/v8
          push: true
          build-args: |
            TAG=${{ env.TAG }}
          tags: |
            ghcr.io/${{ steps.convert2lowercase.outputs.REPO_TAG_LOWERCASE }}-random:${{ env.TAG }}
      - name: Build and Push DLA Container Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: flatland_baselines/deadlock_avoidance_heuristic/Dockerfile
          platforms: linux/amd64,linux/arm64/v8
          push: true
          build-args: |
            TAG=${{ env.TAG }}
          tags: |
            ghcr.io/${{ steps.convert2lowercase.outputs.REPO_TAG_LOWERCASE }}-deadlock-avoidance-heuristic:${{ env.TAG }}
